.home {
    background-color: rgba(179, 204, 245, 0.5);
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.home-first-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.home-text {
    font-family: "Fira Sans";
    font-size: 60px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}
.home-btn {
    font-size: 16px;
    font-family: "Roboto";
    color: #fff;
    border: none;
    background-color: #4f3dff;
    padding: 16px 45px;
    border-radius: 3px;
    margin-top: 36px;
}
.home-man-img {
    position: relative;
    margin-top: 65px;
    height: auto;
    /* position: absolute; */
    display: flex;
    justify-content: center;
}
.home-man {
    z-index: 3;
    width: 100%;
    height: auto;
}


@media screen and (max-width: 1300px) and (min-width: 1200px) {
    .home-text {
        font-size: 55px;
    }
    .home-man {
        width: 90%;
    }
}


@media screen and (max-width: 1199px) and (min-width: 1050px) {
    .home-text {
        font-size: 46px;
    }
    .home-man {
        width: 80%;
    }
    .home-man-img {
        margin-top: 40px;
    }
}


@media screen and (max-width: 1049px) and (min-width: 800px) {
    .home-text {
        font-size: 40px;
    }
    .home-man {
        width: 80%;
    }
    .home-btn {
        padding: 13px 40px;
    }
    .home-man-img {
        margin-top: 40px;
    }
}


@media screen and (max-width: 799px) and (min-width: 600px) {
    .home-text {
        font-size: 35px;
    }
    .home-man {
        width: 68%;
    }
    .home-btn {
        padding: 13px 40px;
    }
    .home-man-img {
        margin-top: 40px;
    }
}


@media screen and (max-width: 599px) and (min-width: 400px) {
    .home-text {
        font-size: 28px;
    }
    .home-man {
        width: 63%;
    }
    .home-btn {
        padding: 11px 20px;
        font-size: 14px;
    }
    .home-man-img {
        margin-top: 30px;
    }
}


@media screen and (max-width: 399px) and (min-width: 300px) {
    .home-text {
        font-size: 23px;
        width: 140px;
    }
    .home-man {
        width: 57%;
    }
    .home-btn {
        padding: 8px 15px;
        font-size: 12px;
    }
    .home-man-img {
        margin-top: 30px;
    }
}
